body{
  max-width: 1600px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background: linear-gradient(120.21deg, #3E708E 11.18%, #64969B 74.17%);
  font-family: 'Space Grotesk';
  font-style: normal;
/*   display: flex;
  align-items: center;
  justify-content: center; */
}

main{
  max-width: 1440px;
  width: 100%;
  height: 1024px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left{
  max-width: 787px;
  width: 100%;
  height: 1024px;
  display: inline-block;
  background-color: white;
  background-image: url(../img/spline.svg);
  background-repeat: no-repeat;
}

.left header{
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  background: linear-gradient(93.38deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 40px;
  margin-left: 64px;
  margin-bottom: 100px;
}

.left h2{
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  margin-left: 20%;
  margin-bottom: 80px;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 400px;
  width: 100%;
  padding-left: 20%;
}

.form__lbl{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 4px;
}

.form__inp{
  width: 384px;
  height: 40px;
  border: 1px solid #CCCCCC;
  box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
  border-radius: 4px;
  padding-left: 10px;
  margin-bottom: 24px;
}

.form__inp::placeholder{
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #CCCCCC;
  
}

.form__inp-pass::placeholder{
  all: unset;
  color: #CCCCCC;
}

.form p{
  margin-block-start: 0;
  margin-block-end: 0.5rem;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #CCCCCC;
}

.form span{
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #C4C4C4;
}

.form select {
  width: 400px;
  height: 40px;
  border: 1px solid #CCCCCC;
  box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #CCCCCC;
  margin-bottom: 32px;
}

.form__btn{
  width: 400px;
  height: 40px;
  background: #27485D;
  border: 1px solid #284A5E;
  box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 32px;
}

.form__login{
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #C4C4C4;
}

.form__login a{
  text-decoration-line: underline;
  color: #476D73;
}

.right{
  max-width: 653px;
  width: 100%;
  height: 1024px;
  display: inline-block;
  background: linear-gradient(162.21deg, #517879 4.83%, #1E3E57 103.44%);
}

.right header{
  display: flex;
  justify-content: flex-end;
  margin-right: 25%;
}

.right header ul{
  list-style: none;
  display: flex;
}

.right li{
  margin-left: 24px;
}

.right a{
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
}

.right div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 88%;
}

.right h1{
  display: inline-block;
  max-width: 431px;
  font-weight: 700;
  font-size: 64px;
  line-height: 96px;
  color: #E4E4E4;
  margin-block-start: 0;
  margin-block-end: 0;
}

.right p{
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-left: -45%;
}