.header-site{
    position: fixed;
    width: 100%;
    height: 90px;
    left: 0px;
    top: 0px;
    background-color: #202846;
    z-index: 2;
}

.mountain-logo{
    margin: 10px 5%;
}

.menu{
    position: absolute;
    top: 15px;
    left: 25%;
    width: 60%;
}

.menu-item, .menu-item1, .lang{
    margin-left: 5%;
    display: inline;
    text-transform: uppercase;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
}

.lang{
    position: absolute;
    top: 15px;
    right: 5%;
}

.main-content{
    background: #E8E8E8;
    height: auto;
    font-family: 'PT Sans';
}

.title-bcg{
    background: #C6C6DC;
    width: 100%;
    height: 140px;
    margin-top: 90px;
}

.title{
    position: absolute;
    left: 227px;
    top: 89px;
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    display: flex;
    align-items: center;
    color: #202846;
}

.cards{
    width: 86%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 7%;
    
}

.places-values {
    background:  #F5F5F5;
    height: 73px;
    width: 100%;
    border: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.61);
    margin: 56px 0;
}

.card{
    background: #BDBDC6;
    margin-bottom: 36px;
}

.coord-img{
    margin: 28px 103px;
    float: left;
}

.star{
    float: right;
    margin: 17px 17px 163px 20px;
    background-image: url(../img/star_w.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    position: relative;
}

.title-card{
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #353C57;
    border-bottom: 3px solid #FFFFFF;
}

.text-card{
    /*box-sizing: content-box;*/ 
    background: #D7D7DD;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    /* display: flex; */
    align-items: center;
    text-align: center;
    color: #202846;
    width: 45%;
    margin-left: 49%;
    padding: 5px;
}

.btn{
    background: #202846;
    border-radius: 30px;
    border: 0;
    width: 200px;
    height: 60px;
    position: relative;
    left: 50%;
    
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
}

.card:hover {
    background: #AEAEE2;
    box-shadow: 5px 5px 30px rgba(0, 0, 255, 0.25);
}

.card:hover .btn {
    background: #EF075B;
}

.card:hover .star {
    background-image: url(../img/star_y.png);
}

