.header-site{
    position: absolute;
    width: 100%;
    height: 90px;
    left: 0px;
    top: 0px;
    background-color: #202846;
}

.mountain-logo{
    margin: 10px 5%;
}

.menu{
    position: absolute;
    top: 15px;
    left: 25%;
    width: 60%;
}

.menu-item, .menu-item1, .lang{
    margin-left: 5%;
    display: inline;
    text-transform: uppercase;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
}



.lang{
    position: absolute;
    top: 15px;
    right: 5%;
}