.body-site{
    max-width: 1920px;
    width: 100%;
}

.header-site{
    position: relative;
    width: 100%;
    height: 90px;
    left: 0px;
    top: 0px;
    background-color: #202846;
    z-index: 2;
}

.mountain-logo{
    margin: 10px 5%;
    transform: scale(0.8);
}

.menu{
    position: absolute;
    top: 20px;
    left: 25%;
    width: 60%;
}

.menu-item, .menu-item1, .lang{
    margin-left: 5%;
    display: inline;
    text-transform: uppercase;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 20px;
    color: #FFFFFF;
}

.lang{
    position: absolute;
    top: 8px;
    right: 5%;
}

.main-content{
    background: #E8E8E8;
    height: auto;
    font-family: 'PT Sans';
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-bcg{
    background: #C6C6DC;
    width: 100%;
    height: 140px;
}

.title{
    position: absolute;
    left: 157px;
    top: 89px;
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    color: #202846;
}

.cards{
    max-width: 1489px;
    width: 86%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    margin-bottom: 267px; 
}

.places-values {
    background:  #F5F5F5;
    height: 73px;
    width: 100%;
    border: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.61);
    margin: 56px 0;
}

.cards > .card{
    background: #BDBDC6;
    margin-bottom: 36px;
    min-width: 300px;
    width: 100%;
    position: relative;
}

.coord-img{
    margin: 28px 103px;
    float: left;
}

.star{
    float: right;
    margin: 17px 17px 163px 20px;
    background-image: url(../img/star_w.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    position: relative;
}

.card .title-card{
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    display: flex;
    color: #353C57;
    border-bottom: 3px solid #FFFFFF;
    margin-block-end: 10px;
    margin-block-start: 27px;
}

.text-card{
    background: #D7D7DD;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #202846;
    overflow-y: scroll;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center
}

.text-size{
    margin: 1rem;
    height: 100%;
}

.btn{
    background: #202846;
    border-radius: 30px;
    border: 0;
    width: 200px;
    height: 60px;
    position: absolute;
    left: 87%;
    top: 14rem;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
}

.card:hover {
    background: #AEAEE2;
    box-shadow: 5px 5px 30px rgba(0, 0, 255, 0.25);
}

.card:hover .btn {
    background: #EF075B;
}

.card:hover .star {
    background-image: url(../img/star_y.png);
}

.arrow{
    display: inline-block;
    position: fixed;          
    z-index: 1000;  
    top: 80vh;
    left: 91vw;
}

.user{
    background: #BDBDC6;
    max-width: 1318px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 41px;
    margin-bottom: 40px;
    height: 498px;      
}

.user-left{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 77px;
}

.user-right{
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 64px;
    color: #353C57;
    display: flex;
    flex-direction: column;
    padding: 45px 81px 45px 0;
    width: 60%;
}

.data-user{
    border-bottom: 3px solid #FFFFFF;
    width: 100%;
    margin-block-start: 0;
    margin-block-end: 0;
}

.avatar{
    margin-bottom: 38px;
}

.user-btn{
    background: #69749B;
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 5rem;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
    margin-bottom: 22px;
}

.user-btn:hover{
    background: #484A54;
}

.user-exit{
    background: #202846;
    width: 212px;
    height: 60px;
    border: none;
    border-radius: 5rem;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
    margin-bottom: 219px;
}

.title-opt {
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    color: #202846;
    width: 86%;
    margin-left: 7%;
   
}

.contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
    width: 70%;
}

.cont-top, .cont-btm{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 41px;
    text-align: center;
    color: #000000;
}

.foot{
    height: 90px;
    background: #202846;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 5rem;
}

.foot-text{
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    color: #EEECF1;

}

